.header {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
	padding-top: 30px;
	padding-bottom: 30px;
}

.header-menu{
	display: flex;
	flex-wrap: wrap;
	gap: 40px;
}

.header-menu a{
	color: inherit;
	padding: 10px 0;
	display: inline-block;
	position: relative;
}

.header-menu a::after{
	content: '';
	display: block;
	background: #000000;
	width: 0%;
	height: 2px;
	transition: width 0.2s;
	position: absolute;
}

.header-menu a:hover:after{
	width: 100%;
}

@media (max-width:800px){
	.header{
		gap: 20px;
	}

	.header-menu a{
		padding: 7px 14px;
		background: #00d3fd08;
		border-radius: 4px;
	}

	.header-menu{
		gap: 20px;
	}

	.header-menu a::after{
		display: none;

	}
}

@media (max-width:600px){
	.header, .header-menu{
		justify-content: center;
	}

	.header-menu a{
		font-size: 16px;
	}
}